.main {
    max-width: 1024px;
    margin: 0 auto;

    &_title {
        margin: 20px 0;
        text-align: center;
        font-size: 24px;
        font-family: $font-family;
        color: $blue;
    }

    &_subtitle {
        font-size: 20px;
        font-family: $font-family;
        color: $blue;
    }

    &_link {
        display: block;
        max-width: max-content;
        margin: 5px;
    }

    &_table {
        th {
            padding: 10px 0;
            color: #3490dc;

            &:not(:last-child) {
                padding-right: 50px;
            }
        }

        tr {
            &:first-child {
                border-bottom: 2px solid #3490dc;
            }
        }

        &_line {
            &:not(:last-child) {
                border-bottom: 1px solid #3490dc;
            }
        }

        td {
            padding: 7.5px 0 7.5px;
            color: #3490dc;

            &:first-child {
                display: -webkit-inline-box;
                max-width: 635px;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }

            &:not(:last-child) {
                margin-right: 30px;
                padding-right: 50px;
            }
        }
    }
}
